# Gather

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import requests
import json
import string
import re
import random
seed = 1234

# change display setting
pd.set_option('display.max_colwidth', None)

In [2]:
# get tweet image predictions
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url, allow_redirects=True)
open('image_predictions.tsv', 'wb').write(r.content)

335079

In [3]:
# twitter authentication 
import tweepy

consumer_key = 'TT2D0E2aIX0VEMNDs1ZdRll7W'
consumer_secret = '7Qv623gWuw4H8gvIWtHJ4ZB8gw6kz6cRdllGP8bzYIAKxYTDHU'
access_token = '1322275579496927233-6yA5Xz158culvlLTkTJND36bdSIsJR'
access_secret = 'fHqvXqAhZVMGovtvXF6AoSK2tuoDul5bIrNCoYDADjrkJ'

In [242]:
# Check Twiter ID
df_tw = pd.read_csv('twitter-archive-enhanced-2.csv')

In [6]:
df_tw.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [58]:
# Query the Twitter API and store the result(Json Data) in text file

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit=True, wait_on_rate_limit_notify=True)


tweet_ids = []
for id_ in df_tw.tweet_id: tweet_ids.append(str(id_))
fail_list = []

with open('tweet_json.txt', 'w') as file:
    for id_ in tweet_ids:
        try:
            tweet = api.get_status(id_, tweet_mode='extended')
            json.dump(tweet, file)
            file.write('\n')
            print('Success', id_)
        except tweepy.TweepError as e:
            print("Fail", id_)
            fail_list.append(id_)

Success 892420643555336193
Success 892177421306343426
Success 891815181378084864
Success 891689557279858688
Success 891327558926688256
Success 891087950875897856
Success 890971913173991426
Success 890729181411237888
Success 890609185150312448
Success 890240255349198849
Success 890006608113172480
Success 889880896479866881
Success 889665388333682689
Success 889638837579907072
Success 889531135344209921
Success 889278841981685760
Success 888917238123831296
Success 888804989199671297
Success 888554962724278272
Fail 888202515573088257
Success 888078434458587136
Success 887705289381826560
Success 887517139158093824
Success 887473957103951883
Success 887343217045368832
Success 887101392804085760
Success 886983233522544640
Success 886736880519319552
Success 886680336477933568
Success 886366144734445568
Success 886267009285017600
Success 886258384151887873
Success 886054160059072513
Success 885984800019947520
Success 885528943205470208
Success 885518971528720385
Success 885311592912609280
Success 885167619883638784
Success 884925521741709313
Success 884876753390489601
Success 884562892145688576
Success 884441805382717440
Success 884247878851493888
Success 884162670584377345
Success 883838122936631299
Success 883482846933004288
Success 883360690899218434
Success 883117836046086144
Success 882992080364220416
Success 882762694511734784
Success 882627270321602560
Success 882268110199369728
Success 882045870035918850
Success 881906580714921986
Success 881666595344535552
Success 881633300179243008
Success 881536004380872706
Success 881268444196462592
Success 880935762899988482
Success 880872448815771648
Success 880465832366813184
Success 880221127280381952
Success 880095782870896641
Success 879862464715927552
Success 879674319642796034
Success 879492040517615616
Success 879415818425184262
Success 879376492567855104
Success 879130579576475649
Success 879050749262655488
Success 879008229531029506
Success 878776093423087618
Success 878604707211726852
Success 878404777348136964
Success 878316110768087041
Success 878281511006478336
Success 878057613040115712
Success 877736472329191424
Success 877611172832227328
Success 877556246731214848
Success 877316821321428993
Success 877201837425926144
Success 876838120628539392
Success 876537666061221889
Success 876484053909872640
Success 876120275196170240
Success 875747767867523072
Success 875144289856114688
Success 875097192612077568
Success 875021211251597312
Success 874680097055178752
Success 874434818259525634
Success 874296783580663808
Success 874057562936811520
Success 874012996292530176
Fail 873697596434513921
Success 873580283840344065
Success 873337748698140672
Success 873213775632977920
Success 872967104147763200
Success 872820683541237760
Fail 872668790621863937
Success 872620804844003328
Success 872486979161796608
Fail 872261713294495745
Success 872122724285648897
Success 871879754684805121
Success 871762521631449091
Success 871515927908634625
Success 871166179821445120
Success 871102520638267392
Success 871032628920680449
Success 870804317367881728
Success 870726314365509632
Success 870656317836468226
Success 870374049280663552
Success 870308999962521604
Success 870063196459192321
Fail 869988702071779329
Success 869772420881756160
Success 869702957897576449
Success 869596645499047938
Success 869227993411051520
Success 868880397819494401
Success 868639477480148993
Success 868622495443632128
Success 868552278524837888
Success 867900495410671616
Success 867774946302451713
Success 867421006826221569
Success 867072653475098625
Success 867051520902168576
Fail 866816280283807744
Success 866720684873056260
Success 866686824827068416
Success 866450705531457537
Success 866334964761202691
Success 866094527597207552
Success 865718153858494464
Success 865359393868664832
Success 865006731092295680
Success 864873206498414592
Success 864279568663928832
Success 864197398364647424
Success 863907417377173506
Success 863553081350529029
Success 863471782782697472
Success 863432100342583297
Success 863427515083354112
Success 863079547188785154
Success 863062471531167744
Success 862831371563274240
Success 862722525377298433
Success 862457590147678208
Success 862096992088072192
Fail 861769973181624320
Success 861383897657036800
Success 861288531465048066
Success 861005113778896900
Success 860981674716409858
Success 860924035999428608
Success 860563773140209665
Success 860524505164394496
Success 860276583193509888
Success 860184849394610176
Success 860177593139703809
Success 859924526012018688
Success 859851578198683649
Success 859607811541651456
Success 859196978902773760
Success 859074603037188101
Success 858860390427611136
Success 858843525470990336
Success 858471635011153920
Success 858107933456039936
Success 857989990357356544
Success 857746408056729600
Success 857393404942143489
Success 857263160327368704
Success 857214891891077121
Success 857062103051644929
Success 857029823797047296
Fail 856602993587888130
Success 856543823941562368
Success 856526610513747968
Success 856330835276025856
Success 856288084350160898
Success 856282028240666624
Success 855862651834028034
Success 855860136149123072
Success 855857698524602368
Success 855851453814013952
Success 855818117272018944
Success 855459453768019968
Success 855245323840757760
Success 855138241867124737
Success 854732716440526848
Success 854482394044301312
Success 854365224396361728
Success 854120357044912130
Success 854010172552949760
Success 853760880890318849
Success 853639147608842240
Success 853299958564483072
Success 852936405516943360
Success 852912242202992640
Success 852672615818899456
Success 852553447878664193
Success 852311364735569921
Success 852226086759018497
Success 852189679701164033
Fail 851953902622658560
Success 851861385021730816
Success 851591660324737024
Success 851464819735769094
Success 851224888060895234
Success 850753642995093505
Success 850380195714523136
Success 850333567704068097
Success 850145622816686080
Success 850019790995546112
Success 849776966551130114
Success 849668094696017920
Success 849412302885593088
Success 849336543269576704
Success 849051919805034497
Success 848690551926992896
Success 848324959059550208
Success 848213670039564288
Success 848212111729840128
Success 847978865427394560
Success 847971574464610304
Success 847962785489326080
Success 847842811428974592
Success 847617282490613760
Success 847606175596138505
Success 847251039262605312
Success 847157206088847362
Success 847116187444137987
Success 846874817362120707
Success 846514051647705089
Success 846505985330044928
Success 846153765933735936
Success 846139713627017216
Success 846042936437604353
Success 845812042753855489
Success 845677943972139009
Fail 845459076796616705
Success 845397057150107648
Success 845306882940190720
Success 845098359547420673
Success 844979544864018432
Success 844973813909606400
Fail 844704788403113984
Success 844580511645339650
Success 844223788422217728
Success 843981021012017153
Success 843856843873095681
Success 843604394117681152
Success 843235543001513987
Fail 842892208864923648
Success 842846295480000512
Success 842765311967449089
Success 842535590457499648
Success 842163532590374912
Success 842115215311396866
Success 841833993020538882
Success 841680585030541313
Success 841439858740625411
Success 841320156043304961
Success 841314665196081154
Success 841077006473256960
Success 840761248237133825
Success 840728873075638272
Success 840698636975636481
Success 840696689258311684
Success 840632337062862849
Success 840370681858686976
Success 840268004936019968
Success 839990271299457024
Success 839549326359670784
Success 839290600511926273
Success 839239871831150596
Success 838952994649550848
Success 838921590096166913
Success 838916489579200512
Success 838831947270979586
Success 838561493054533637
Success 838476387338051585
Success 838201503651401729
Success 838150277551247360
Success 838085839343206401
Success 838083903487373313
Success 837820167694528512
Success 837482249356513284
Success 837471256429613056
Fail 837366284874571778
Success 837110210464448512
Fail 837012587749474308
Success 836989968035819520
Success 836753516572119041
Success 836677758902222849
Success 836648853927522308
Success 836397794269200385
Success 836380477523124226
Success 836260088725786625
Success 836001077879255040
Success 835685285446955009
Success 835574547218894849
Success 835536468978302976
Success 835309094223372289
Success 835297930240217089
Success 835264098648616962
Success 835246439529840640
Success 835172783151792128
Success 835152434251116546
Success 834931633769889797
Success 834786237630337024
Success 834574053763584002
Success 834477809192075265
Success 834458053273591808
Success 834209720923721728
Success 834167344700198914
Success 834089966724603904
Success 834086379323871233
Success 833863086058651648
Success 833826103416520705
Success 833732339549220864
Success 833722901757046785
Success 833479644947025920
Success 833124694597443584
Success 832998151111966721
Success 832769181346996225
Success 832757312314028032
Success 832682457690300417
Success 832645525019123713
Success 832636094638288896
Success 832397543355072512
Success 832369877331693569
Success 832273440279240704
Success 832215909146226688
Success 832215726631055365
Success 832088576586297345
Success 832040443403784192
Success 832032802820481025
Success 831939777352105988
Success 831926988323639298
Success 831911600680497154
Success 831670449226514432
Success 831650051525054464
Success 831552930092285952
Success 831322785565769729
Success 831315979191906304
Success 831309418084069378
Success 831262627380748289
Success 830956169170665475
Success 830583320585068544
Success 830173239259324417
Success 830097400375152640
Success 829878982036299777
Success 829861396166877184
Success 829501995190984704
Success 829449946868879360
Fail 829374341691346946
Success 829141528400556032
Success 829011960981237760
Success 828801551087042563
Success 828770345708580865
Success 828708714936930305
Success 828650029636317184
Success 828409743546925057
Success 828408677031882754
Success 828381636999917570
Success 828376505180889089
Success 828372645993398273
Success 828361771580813312
Success 828046555563323392
Success 828011680017821696
Success 827933404142436356
Success 827653905312006145
Success 827600520311402496
Success 827324948884643840
Fail 827228250799742977
Success 827199976799354881
Success 826958653328592898
Success 826848821049180160
Success 826615380357632002
Success 826598799820865537
Success 826598365270007810
Success 826476773533745153
Success 826240494070030336
Success 826204788643753985
Success 826115272272650244
Success 825876512159186944
Success 825829644528148480
Success 825535076884762624
Success 825147591692263424
Success 825120256414846976
Success 825026590719483904
Success 824796380199809024
Success 824775126675836928
Success 824663926340194305
Success 824325613288833024
Success 824297048279236611
Success 824025158776213504
Success 823939628516474880
Success 823719002937630720
Success 823699002998870016
Success 823581115634085888
Success 823333489516937216
Success 823322678127919110
Success 823269594223824897
Success 822975315408461824
Success 822872901745569793
Success 822859134160621569
Success 822647212903690241
Success 822610361945911296
Success 822489057087389700
Success 822462944365645825
Success 822244816520155136
Success 822163064745328640
Success 821886076407029760
Success 821813639212650496
Success 821765923262631936
Success 821522889702862852
Success 821421320206483457
Success 821407182352777218
Success 821153421864615936
Success 821149554670182400
Success 821107785811234820
Success 821044531881721856
Success 820837357901512704
Success 820749716845686786
Success 820690176645140481
Success 820494788566847489
Success 820446719150292993
Success 820314633777061888
Success 820078625395449857
Success 820013781606658049
Success 819952236453363712
Success 819924195358416896
Success 819711362133872643
Success 819588359383371776
Success 819347104292290561
Success 819238181065359361
Success 819227688460238848
Success 819015337530290176
Success 819015331746349057
Success 819006400881917954
Success 819004803107983360
Success 818646164899774465
Success 818627210458333184
Success 818614493328580609
Success 818588835076603904
Success 818536468981415936
Success 818307523543449600
Success 818259473185828864
Success 818145370475810820
Success 817908911860748288
Success 817827839487737858
Success 817777686764523521
Success 817536400337801217
Success 817502432452313088
Success 817423860136083457
Success 817415592588222464
Success 817181837579653120
Success 817171292965273600
Success 817120970343411712
Success 817056546584727552
Success 816829038950027264
Success 816816676327063552
Success 816697700272001025
Success 816450570814898180
Success 816336735214911488
Success 816091915477250048
Success 816062466425819140
Success 816014286006976512
Success 815990720817401858
Success 815966073409433600
Success 815745968457060357
Success 815736392542261248
Success 815639385530101762
Success 815390420867969024
Success 814986499976527872
Success 814638523311648768
Success 814578408554463233
Success 814530161257443328
Success 814153002265309185
Success 813944609378369540
Success 813910438903693312
Success 813812741911748608
Success 813800681631023104
Success 813217897535406080
Success 813202720496779264
Success 813187593374461952
Success 813172488309972993
Success 813157409116065792
Success 813142292504645637
Success 813130366689148928
Success 813127251579564032
Success 813112105746448384
Success 813096984823349248
Success 813081950185472002
Success 813066809284972545
Success 813051746834595840
Success 812781120811126785
Fail 812747805718642688
Success 812709060537683968
Success 812503143955202048
Success 812466873996607488
Success 812372279581671427
Success 811985624773361665
Success 811744202451197953
Success 811647686436880384
Success 811627233043480576
Success 811386762094317568
Success 810984652412424192
Success 810896069567610880
Success 810657578271330305
Success 810284430598270976
Success 810254108431155201
Success 809920764300447744
Success 809808892968534016
Success 809448704142938112
Success 809220051211603969
Success 809084759137812480
Success 808838249661788160
Success 808733504066486276
Success 808501579447930884
Success 808344865868283904
Success 808134635716833280
Success 808106460588765185
Success 808001312164028416
Success 807621403335917568
Success 807106840509214720
Success 807059379405148160
Success 807010152071229440
Success 806629075125202948
Success 806620845233815552
Success 806576416489959424
Success 806542213899489280
Success 806242860592926720
Success 806219024703037440
Success 805958939288408065
Success 805932879469572096
Success 805826884734976000
Success 805823200554876929
Success 805520635690676224
Success 805487436403003392
Success 805207613751304193
Success 804738756058218496
Success 804475857670639616
Success 804413760345620481
Success 804026241225523202
Success 803773340896923648
Success 803692223237865472
Success 803638050916102144
Success 803380650405482500
Success 803321560782307329
Success 803276597545603072
Success 802952499103731712
Success 802624713319034886
Success 802600418706604034
Success 802572683846291456
Success 802323869084381190
Success 802265048156610565
Fail 802247111496568832
Success 802239329049477120
Success 802185808107208704
Success 801958328846974976
Success 801854953262350336
Success 801538201127157760
Success 801285448605831168
Success 801167903437357056
Success 801127390143516673
Success 801115127852503040
Success 800859414831898624
Success 800855607700029440
Success 800751577355128832
Success 800513324630806528
Success 800459316964663297
Success 800443802682937345
Success 800388270626521089
Success 800188575492947969
Success 800141422401830912
Success 800018252395122689
Success 799774291445383169
Success 799757965289017345
Success 799422933579902976
Success 799308762079035393
Success 799297110730567681
Success 799063482566066176
Success 798933969379225600
Success 798925684722855936
Success 798705661114773508
Success 798701998996647937
Success 798697898615730177
Success 798694562394996736
Success 798686750113755136
Success 798682547630837760
Success 798673117451325440
Success 798665375516884993
Success 798644042770751489
Success 798628517273620480
Success 798585098161549313
Success 798576900688019456
Success 798340744599797760
Success 798209839306514432
Success 797971864723324932
Success 797545162159308800
Success 797236660651966464
Success 797165961484890113
Success 796904159865868288
Success 796865951799083009
Success 796759840936919040
Success 796563435802726400
Success 796484825502875648
Success 796387464403357696
Success 796177847564038144
Success 796149749086875649
Success 796125600683540480
Success 796116448414461957
Success 796080075804475393
Success 796031486298386433
Success 795464331001561088
Success 795400264262053889
Success 795076730285391872
Success 794983741416415232
Success 794926597468000259
Success 794355576146903043
Success 794332329137291264
Success 794205286408003585
Success 793962221541933056
Success 793845145112371200
Success 793614319594401792
Success 793601777308463104
Success 793500921481273345
Success 793286476301799424
Success 793271401113350145
Success 793256262322548741
Success 793241302385262592
Success 793226087023144960
Success 793210959003287553
Success 793195938047070209
Success 793180763617361921
Success 793165685325201412
Success 793150605191548928
Success 793135492858580992
Success 793120401413079041
Success 792913359805018113
Success 792883833364439040
Success 792773781206999040
Success 792394556390137856
Success 792050063153438720
Success 791821351946420224
Success 791784077045166082
Success 791780927877898241
Success 791774931465953280
Success 791672322847637504
Success 791406955684368384
Success 791312159183634433
Success 791026214425268224
Success 790987426131050500
Success 790946055508652032
Success 790723298204217344
Success 790698755171364864
Success 790581949425475584
Success 790337589677002753
Success 790277117346975746
Success 790227638568808452
Success 789986466051088384
Success 789960241177853952
Success 789903600034189313
Success 789628658055020548
Success 789599242079838210
Success 789530877013393408
Success 789314372632018944
Success 789280767834746880
Success 789268448748703744
Success 789137962068021249
Success 788908386943430656
Success 788765914992902144
Success 788552643979468800
Success 788412144018661376
Success 788178268662984705
Success 788150585577050112
Success 788070120937619456
Success 788039637453406209
Success 787810552592695296
Success 787717603741622272
Success 787397959788929025
Success 787322443945877504
Success 787111942498508800
Success 786963064373534720
Success 786729988674449408
Success 786709082849828864
Success 786664955043049472
Success 786595970293370880
Success 786363235746385920
Success 786286427768250368
Success 786233965241827333
Success 786051337297522688
Success 786036967502913536
Success 785927819176054784
Success 785872687017132033
Success 785639753186217984
Success 785533386513321988
Success 785515384317313025
Success 785264754247995392
Success 785170936622350336
Success 784826020293709826
Success 784517518371221505
Success 784431430411685888
Success 784183165795655680
Success 784057939640352768
Success 783839966405230592
Success 783821107061198850
Success 783695101801398276
Success 783466772167098368
Success 783391753726550016
Success 783347506784731136
Success 783334639985389568
Success 783085703974514689
Success 782969140009107456
Success 782747134529531904
Success 782722598790725632
Success 782598640137187329
Success 782305867769217024
Success 782021823840026624
Success 781955203444699136
Success 781661882474196992
Success 781655249211752448
Success 781524693396357120
Success 781308096455073793
Success 781251288990355457
Success 781163403222056960
Success 780931614150983680
Success 780858289093574656
Success 780800785462489090
Success 780601303617732608
Success 780543529827336192
Success 780496263422808064

Rate limit reached. Sleeping for: 225

Success 759099523532779520
Success 759047813560868866
Success 758854675097526272
Success 758828659922702336
Success 758740312047005698
Success 758474966123810816
Success 758467244762497024
Success 758405701903519748
Success 758355060040593408
Success 758099635764359168
Success 758041019896193024
Success 757741869644341248
Success 757729163776290825
Success 757725642876129280
Success 757611664640446465
Success 757597904299253760
Success 757596066325864448
Success 757400162377592832
Success 757393109802180609
Success 757354760399941633
Success 756998049151549440
Success 756939218950160384
Success 756651752796094464
Success 756526248105566208
Success 756303284449767430
Success 756288534030475264
Success 756275833623502848
Success 755955933503782912
Success 755206590534418437
Success 755110668769038337
Success 754874841593970688
Success 754856583969079297
Success 754747087846248448
Success 754482103782404096
Success 754449512966619136
Success 754120377874386944
Fail 754011816964026368
Success 753655901052166144
Success 753420520834629632
Success 753398408988139520
Success 753375668877008896
Success 753298634498793472
Success 753294487569522689
Success 753039830821511168
Success 753026973505581056
Success 752932432744185856
Success 752917284578922496
Success 752701944171524096
Success 752682090207055872
Success 752660715232722944
Success 752568224206688256
Success 752519690950500352
Success 752334515931054080
Success 752309394570878976
Success 752173152931807232
Success 751950017322246144
Success 751937170840121344
Success 751830394383790080
Success 751793661361422336
Success 751598357617971201
Success 751583847268179968
Success 751538714308972544
Success 751456908746354688
Success 751251247299190784
Success 751205363882532864
Success 751132876104687617
Success 750868782890057730
Success 750719632563142656
Success 750506206503038976
Success 750429297815552001
Success 750383411068534784
Success 750381685133418496
Success 750147208377409536
Success 750132105863102464
Success 750117059602808832
Success 750101899009982464
Success 750086836815486976
Success 750071704093859840
Success 750056684286914561
Success 750041628174217216
Success 750026558547456000
Success 750011400160841729
Success 749996283729883136
Success 749981277374128128
Success 749774190421639168
Success 749417653287129088
Success 749403093750648834
Success 749395845976588288
Success 749317047558017024
Success 749075273010798592
Success 749064354620928000
Success 749036806121881602
Success 748977405889503236
Success 748932637671223296
Success 748705597323898880
Success 748699167502000129
Success 748692773788876800
Success 748575535303884801
Success 748568946752774144
Success 748346686624440324
Success 748337862848962560
Success 748324050481647620
Success 748307329658011649
Success 748220828303695873
Success 747963614829678593
Success 747933425676525569
Success 747885874273214464
Success 747844099428986880
Success 747816857231626240
Success 747651430853525504
Success 747648653817413632
Success 747600769478692864
Success 747594051852075008
Success 747512671126323200
Success 747461612269887489
Success 747439450712596480
Success 747242308580548608
Success 747219827526344708
Success 747204161125646336
Success 747103485104099331
Success 746906459439529985
Success 746872823977771008
Success 746818907684614144
Success 746790600704425984
Success 746757706116112384
Success 746726898085036033
Success 746542875601690625
Success 746521445350707200
Success 746507379341139972
Success 746369468511756288
Success 746131877086527488
Success 746056683365994496
Success 745789745784041472
Success 745712589599014916
Success 745433870967832576
Success 745422732645535745
Success 745314880350101504
Success 745074613265149952
Success 745057283344719872
Success 744995568523612160
Success 744971049620602880
Success 744709971296780288
Success 744334592493166593
Success 744234799360020481
Success 744223424764059648
Success 743980027717509120
Success 743895849529389061
Success 743835915802583040
Success 743609206067040256
Success 743595368194129920
Success 743545585370791937
Success 743510151680958465
Success 743253157753532416
Success 743222593470234624
Success 743210557239623680
Success 742534281772302336
Success 742528092657332225
Success 742465774154047488
Success 742423170473463808
Success 742385895052087300
Success 742161199639494656
Success 742150209887731712
Success 741793263812808706
Success 741743634094141440
Success 741438259667034112
Success 741303864243200000
Success 741099773336379392
Success 741067306818797568
Success 740995100998766593
Success 740711788199743490
Success 740699697422163968
Success 740676976021798912
Success 740373189193256964
Success 740365076218183684
Success 740359016048689152
Success 740214038584557568
Success 739979191639244800
Success 739932936087216128
Success 739844404073074688
Success 739623569819336705
Success 739606147276148736
Success 739544079319588864
Success 739485634323156992
Success 739238157791694849
Success 738891149612572673
Success 738885046782832640
Success 738883359779196928
Success 738537504001953792
Success 738402415918125056
Success 738184450748633089
Success 738166403467907072
Success 738156290900254721
Success 737826014890496000
Success 737800304142471168
Success 737678689543020544
Success 737445876994609152
Success 737322739594330112
Success 737310737551491075
Success 736736130620620800
Success 736392552031657984
Success 736365877722001409
Success 736225175608430592
Success 736010884653420544
Success 735991953473572864
Success 735648611367784448
Success 735635087207878657
Success 735274964362878976
Success 735256018284875776
Success 735137028879360001
Success 734912297295085568
Success 734787690684657664
Success 734776360183431168
Success 734559631394082816
Success 733828123016450049
Success 733822306246479872
Success 733482008106668032
Success 733460102733135873
Success 733109485275860992
Success 732732193018155009
Success 732726085725589504
Success 732585889486888962
Success 732375214819057664
Success 732005617171337216
Success 731285275100512256
Success 731156023742988288
Success 730924654643314689
Success 730573383004487680
Success 730427201120833536
Success 730211855403241472
Success 730196704625098752
Success 729854734790754305
Success 729838605770891264
Success 729823566028484608
Success 729463711119904772
Success 729113531270991872
Success 728986383096946689
Success 728760639972315136
Success 728751179681943552
Success 728653952833728512
Success 728409960103686147
Success 728387165835677696
Success 728046963732717569
Success 728035342121635841
Success 728015554473250816
Success 727685679342333952
Success 727644517743104000
Success 727524757080539137
Success 727314416056803329
Success 727286334147182592
Success 727175381690781696
Success 727155742655025152
Success 726935089318363137
Success 726887082820554753
Success 726828223124897792
Success 726224900189511680
Success 725842289046749185
Success 725786712245440512
Success 725729321944506368
Success 725458796924002305
Success 724983749226668032
Success 724771698126512129
Success 724405726123311104
Success 724049859469295616
Success 724046343203856385
Success 724004602748780546
Success 723912936180330496
Success 723688335806480385
Success 723673163800948736
Success 723179728551723008
Success 722974582966214656
Success 722613351520608256
Success 721503162398597120
Success 721001180231503872
Success 720785406564900865
Success 720775346191278080
Success 720415127506415616
Success 720389942216527872
Success 720340705894408192
Success 720059472081784833
Success 720043174954147842
Success 719991154352222208
Success 719704490224398336
Success 719551379208073216
Success 719367763014393856
Success 719339463458033665
Success 719332531645071360
Success 718971898235854848
Success 718939241951195136
Success 718631497683582976
Success 718613305783398402
Success 718540630683709445
Success 718460005985447936
Success 718454725339934721
Success 718246886998687744
Success 718234618122661888
Success 717841801130979328
Success 717790033953034240
Success 717537687239008257
Success 717428917016076293
Success 717421804990701568
Success 717047459982213120
Success 717009362452090881
Success 716802964044845056
Success 716791146589110272
Success 716730379797970944
Success 716447146686459905
Success 716439118184652801
Success 716285507865542656
Success 716080869887381504
Success 715928423106027520
Success 715758151270801409
Success 715733265223708672
Success 715704790270025728
Success 715696743237730304
Success 715680795826982913
Success 715360349751484417
Success 715342466308784130
Success 715220193576927233
Success 715200624753819648
Success 715009755312439296
Success 714982300363173890
Success 714962719905021952
Success 714957620017307648
Success 714631576617938945
Success 714606013974974464
Success 714485234495041536
Success 714258258790387713
Success 714251586676113411
Success 714214115368108032
Success 714141408463036416
Success 713919462244790272
Success 713909862279876608
Success 713900603437621249
Success 713761197720473600
Success 713411074226274305
Success 713177543487135744
Success 713175907180089344
Success 712809025985978368
Success 712717840512598017
Success 712668654853337088
Success 712438159032893441
Success 712309440758808576
Success 712097430750289920
Success 712092745624633345
Success 712085617388212225
Success 712065007010385924
Success 711998809858043904
Success 711968124745228288
Success 711743778164514816
Success 711732680602345472
Success 711694788429553666
Success 711652651650457602
Success 711363825979756544
Success 711306686208872448
Success 711008018775851008
Success 710997087345876993
Success 710844581445812225
Success 710833117892898816
Success 710658690886586372
Success 710609963652087808
Success 710588934686908417
Success 710296729921429505
Success 710283270106132480
Success 710272297844797440
Success 710269109699739648
Success 710153181850935296
Success 710140971284037632
Success 710117014656950272
Success 709918798883774466
Success 709901256215666688
Success 709852847387627521
Success 709566166965075968
Success 709556954897764353
Success 709519240576036864
Success 709449600415961088
Success 709409458133323776
Success 709225125749587968
Success 709207347839836162
Success 709198395643068416
Success 709179584944730112
Success 709158332880297985
Success 709042156699303936
Success 708853462201716736
Success 708845821941387268
Success 708834316713893888
Success 708810915978854401
Success 708738143638450176
Success 708711088997666817
Success 708479650088034305
Success 708469915515297792
Success 708400866336894977
Success 708356463048204288
Success 708349470027751425
Success 708149363256774660
Success 708130923141795840
Success 708119489313951744
Success 708109389455101952
Success 708026248782585858
Success 707995814724026368
Success 707983188426153984
Success 707969809498152960
Success 707776935007539200
Success 707741517457260545
Success 707738799544082433
Success 707693576495472641
Success 707629649552134146
Success 707610948723478529
Success 707420581654872064
Success 707411934438625280
Success 707387676719185920
Success 707377100785885184
Success 707315916783140866
Success 707297311098011648
Success 707059547140169728
Success 707038192327901184
Success 707021089608753152
Success 707014260413456384
Success 706904523814649856
Success 706901761596989440
Success 706681918348251136
Success 706644897839910912
Success 706593038911545345
Success 706538006853918722
Success 706516534877929472
Success 706346369204748288
Success 706310011488698368
Success 706291001778950144
Success 706265994973601792
Success 706169069255446529
Success 706166467411222528
Success 706153300320784384
Success 705975130514706432
Success 705970349788291072
Success 705898680587526145
Success 705786532653883392
Success 705591895322394625
Success 705475953783398401
Success 705442520700944385
Success 705428427625635840
Success 705239209544720384
Success 705223444686888960
Success 705102439679201280
Success 705066031337840642
Success 704871453724954624
Success 704859558691414016
Success 704847917308362754
Success 704819833553219584
Success 704761120771465216
Success 704499785726889984
Success 704491224099647488
Success 704480331685040129
Success 704364645503647744
Success 704347321748819968
Success 704134088924532736
Success 704113298707505153
Success 704054845121142784
Success 703774238772166656
Success 703769065844768768
Success 703631701117943808
Success 703611486317502464
Success 703425003149250560
Success 703407252292673536
Success 703382836347330562
Success 703356393781329922
Success 703268521220972544
Success 703079050210877440
Success 703041949650034688
Success 702932127499816960
Success 702899151802126337
Success 702684942141153280
Success 702671118226825216
Success 702598099714314240
Success 702539513671897089
Success 702332542343577600
Success 702321140488925184
Success 702276748847800320
Success 702217446468493312
Success 701981390485725185
Success 701952816642965504
Success 701889187134500865
Success 701805642395348998
Success 701601587219795968
Success 701570477911896070
Success 701545186879471618
Success 701214700881756160
Success 700890391244103680
Success 700864154249383937
Success 700847567345688576
Success 700796979434098688
Success 700747788515020802
Success 700518061187723268
Success 700505138482569216
Success 700462010979500032
Success 700167517596164096
Success 700151421916807169
Success 700143752053182464
Success 700062718104104960
Success 700029284593901568
Success 700002074055016451
Success 699801817392291840
Success 699788877217865730
Success 699779630832685056
Success 699775878809702401
Success 699691744225525762
Success 699446877801091073
Success 699434518667751424
Success 699423671849451520
Success 699413908797464576
Success 699370870310113280
Success 699323444782047232
Success 699088579889332224
Success 699079609774645248
Success 699072405256409088
Success 699060279947165696
Success 699036661657767936
Success 698989035503689728
Success 698953797952008193
Success 698907974262222848
Success 698710712454139905
Success 698703483621523456
Success 698635131305795584
Success 698549713696649216
Success 698355670425473025
Success 698342080612007937
Success 698262614669991936
Success 698195409219559425
Success 698178924120031232
Success 697995514407682048
Success 697990423684476929
Success 697943111201378304
Success 697881462549430272
Success 697630435728322560
Success 697616773278015490
Success 697596423848730625
Success 697575480820686848
Success 697516214579523584
Success 697482927769255936
Success 697463031882764288
Success 697270446429966336
Success 697259378236399616
Success 697255105972801536
Success 697242256848379904
Success 696900204696625153
Success 696894894812565505
Success 696886256886657024
Success 696877980375769088
Success 696754882863349760
Success 696744641916489729
Success 696713835009417216
Success 696518437233913856
Success 696490539101908992
Success 696488710901260288
Success 696405997980676096
Success 696100768806522880
Success 695816827381944320
Success 695794761660297217
Success 695767669421768709
Success 695629776980148225
Success 695446424020918272
Success 695409464418041856
Success 695314793360662529
Success 695095422348574720
Success 695074328191332352
Success 695064344191721472
Success 695051054296211456
Success 694925794720792577
Success 694905863685980160
Success 694669722378485760
Success 694356675654983680
Success 694352839993344000
Success 694342028726001664
Success 694329668942569472
Success 694206574471057408
Success 694183373896572928
Success 694001791655137281
Success 693993230313091072
Success 693942351086120961
Success 693647888581312512
Success 693644216740769793
Success 693642232151285760
Success 693629975228977152
Success 693622659251335168
Success 693590843962331137
Success 693582294167244802
Success 693486665285931008
Success 693280720173801472
Success 693267061318012928
Success 693262851218264065
Success 693231807727280129
Success 693155686491000832
Success 693109034023534592
Success 693095443459342336
Success 692919143163629568
Success 692905862751522816
Success 692901601640583168
Success 692894228850999298
Success 692828166163931137
Success 692752401762250755
Success 692568918515392513
Success 692535307825213440
Success 692530551048294401
Success 692423280028966913
Success 692417313023332352
Success 692187005137076224
Success 692158366030913536
Success 692142790915014657
Success 692041934689402880
Success 692017291282812928
Success 691820333922455552
Success 691793053716221953
Success 691756958957883396
Success 691675652215414786
Success 691483041324204033
Success 691459709405118465
Success 691444869282295808
Success 691416866452082688
Success 691321916024623104
Success 691096613310316544
Success 691090071332753408
Success 690989312272396288
Success 690959652130045952
Success 690938899477221376
Success 690932576555528194
Success 690735892932222976
Success 690728923253055490
Success 690690673629138944
Success 690649993829576704
Success 690607260360429569
Success 690597161306841088
Success 690400367696297985
Success 690374419777196032
Success 690360449368465409
Success 690348396616552449
Success 690248561355657216
Success 690021994562220032
Success 690015576308211712
Success 690005060500217858
Success 689999384604450816
Success 689993469801164801
Success 689977555533848577
Success 689905486972461056
Success 689877686181715968
Success 689835978131935233
Success 689661964914655233
Success 689659372465688576
Success 689623661272240129
Success 689599056876867584
Success 689557536375177216
Success 689517482558820352
Success 689289219123089408
Success 689283819090870273
Success 689280876073582592
Success 689275259254616065
Success 689255633275777024
Success 689154315265683456
Success 689143371370250240
Success 688916208532455424
Success 688908934925697024
Success 688898160958271489
Success 688894073864884227
Success 688828561667567616
Success 688804835492233216
Success 688789766343622656
Success 688547210804498433
Success 688519176466644993
Success 688385280030670848
Success 688211956440801280
Success 688179443353796608
Success 688116655151435777
Success 688064179421470721
Success 687841446767013888
Success 687826841265172480
Success 687818504314159109
Success 687807801670897665
Success 687732144991551489
Success 687704180304273409
Success 687664829264453632
Success 687494652870668288
Success 687480748861947905
Success 687476254459715584
Success 687460506001633280
Success 687399393394311168
Success 687317306314240000
Success 687312378585812992
Success 687127927494963200
Success 687124485711986689
Success 687109925361856513
Success 687102708889812993
Success 687096057537363968
Success 686947101016735744
Success 686760001961103360
Success 686749460672679938
Success 686730991906516992
Success 686683045143953408
Success 686618349602762752
Success 686606069955735556
Success 686394059078897668
Success 686386521809772549
Success 686377065986265092
Success 686358356425093120
Success 686286779679375361
Success 686050296934563840
Success 686035780142297088
Success 686034024800862208
Success 686007916130873345
Success 686003207160610816
Success 685973236358713344
Success 685943807276412928
Success 685906723014619143
Success 685681090388975616
Success 685667379192414208
Success 685663452032069632
Success 685641971164143616
Success 685547936038666240
Success 685532292383666176
Success 685325112850124800
Success 685321586178670592
Success 685315239903100929
Success 685307451701334016
Success 685268753634967552
Success 685198997565345792
Success 685169283572338688
Success 684969860808454144
Success 684959798585110529
Success 684940049151070208
Success 684926975086034944
Success 684914660081053696
Success 684902183876321280
Success 684880619965411328
Success 684830982659280897
Success 684800227459624960
Success 684594889858887680
Success 684588130326986752
Success 684567543613382656
Success 684538444857667585
Success 684481074559381504
Success 684460069371654144
Success 684241637099323392
Success 684225744407494656
Success 684222868335505415

Rate limit reached. Sleeping for: 685

Success 677314812125323265
Success 677301033169788928
Success 677269281705472000
Success 677228873407442944
Success 677187300187611136
Success 676975532580409345
Success 676957860086095872
Success 676949632774234114
Success 676948236477857792
Success 676946864479084545
Success 676942428000112642
Success 676936541936185344
Success 676916996760600576
Success 676897532954456065
Success 676864501615042560
Success 676821958043033607
Success 676819651066732545
Success 676811746707918848
Success 676776431406465024
Success 676617503762681856
Success 676613908052996102
Success 676606785097199616
Success 676603393314578432
Success 676593408224403456
Success 676590572941893632
Success 676588346097852417
Success 676582956622721024
Success 676575501977128964
Success 676533798876651520
Success 676496375194980353
Success 676470639084101634
Success 676440007570247681
Success 676430933382295552
Success 676263575653122048
Success 676237365392908289
Success 676219687039057920
Success 676215927814406144
Success 676191832485810177
Success 676146341966438401
Success 676121918416756736
Success 676101918813499392
Success 676098748976615425
Success 676089483918516224
Success 675898130735476737
Success 675891555769696257
Success 675888385639251968
Success 675878199931371520
Success 675870721063669760
Success 675853064436391936
Success 675849018447167488
Success 675845657354215424
Success 675822767435051008
Success 675820929667219457
Success 675798442703122432
Success 675781562965868544
Success 675740360753160193
Success 675710890956750848
Success 675707330206547968
Success 675706639471788032
Success 675534494439489536
Success 675531475945709568
Success 675522403582218240
Success 675517828909424640
Success 675501075957489664
Success 675497103322386432
Success 675489971617296384
Success 675483430902214656
Success 675432746517426176
Success 675372240448454658
Success 675362609739206656
Success 675354435921575936
Success 675349384339542016
Success 675334060156301312
Success 675166823650848770
Success 675153376133427200
Success 675149409102012420
Success 675147105808306176
Success 675146535592706048
Success 675145476954566656
Success 675135153782571009
Success 675113801096802304
Success 675111688094527488
Success 675109292475830276
Success 675047298674663426
Success 675015141583413248
Success 675006312288268288
Success 675003128568291329
Success 674999807681908736
Success 674805413498527744
Success 674800520222154752
Success 674793399141146624
Success 674790488185167872
Success 674788554665512960
Success 674781762103414784
Success 674774481756377088
Success 674767892831932416
Success 674764817387900928
Success 674754018082705410
Success 674752233200820224
Success 674743008475090944
Success 674742531037511680
Success 674739953134403584
Success 674737130913071104
Success 674690135443775488
Success 674670581682434048
Success 674664755118911488
Success 674646392044941312
Success 674644256330530816
Success 674638615994089473
Success 674632714662858753
Success 674606911342424069
Success 674468880899788800
Success 674447403907457024
Success 674436901579923456
Success 674422304705744896
Success 674416750885273600
Success 674410619106390016
Success 674394782723014656
Success 674372068062928900
Success 674330906434379776
Success 674318007229923329
Success 674307341513269249
Success 674291837063053312
Success 674271431610523648
Success 674269164442398721
Success 674265582246694913
Success 674262580978937856
Success 674255168825880576
Success 674082852460433408
Success 674075285688614912
Success 674063288070742018
Success 674053186244734976
Success 674051556661161984
Success 674045139690631169
Success 674042553264685056
Success 674038233588723717
Success 674036086168010753
Success 674024893172875264
Success 674019345211760640
Success 674014384960745472
Success 674008982932058114
Success 673956914389192708
Success 673919437611909120
Success 673906403526995968
Success 673887867907739649
Success 673716320723169284
Success 673715861853720576
Success 673711475735838725
Success 673709992831262724
Success 673708611235921920
Success 673707060090052608
Success 673705679337693185
Success 673700254269775872
Success 673697980713705472
Success 673689733134946305
Success 673688752737402881
Success 673686845050527744
Success 673680198160809984
Success 673662677122719744
Success 673656262056419329
Success 673636718965334016
Success 673612854080196609
Success 673583129559498752
Success 673580926094458881
Success 673576835670777856
Success 673363615379013632
Success 673359818736984064
Success 673355879178194945
Success 673352124999274496
Success 673350198937153538
Success 673345638550134785
Success 673343217010679808
Success 673342308415348736
Success 673320132811366400
Success 673317986296586240
Success 673295268553605120
Success 673270968295534593
Success 673240798075449344
Success 673213039743795200
Success 673148804208660480
Success 672997845381865473
Success 672995267319328768
Success 672988786805112832
Success 672984142909456390
Success 672980819271634944
Success 672975131468300288
Success 672970152493887488
Success 672968025906282496
Success 672964561327235073
Success 672902681409806336
Success 672898206762672129
Success 672884426393653248
Success 672877615439593473
Success 672834301050937345
Success 672828477930868736
Success 672640509974827008
Success 672622327801233409
Success 672614745925664768
Success 672609152938721280
Success 672604026190569472
Success 672594978741354496
Success 672591762242805761
Success 672591271085670400
Success 672538107540070400
Success 672523490734551040
Success 672488522314567680
Success 672482722825261057
Success 672481316919734272
Success 672475084225949696
Success 672466075045466113
Success 672272411274932228
Success 672267570918129665
Success 672264251789176834
Success 672256522047614977
Success 672254177670729728
Success 672248013293752320
Success 672245253877968896
Success 672239279297454080
Success 672231046314901505
Success 672222792075620352
Success 672205392827572224
Success 672169685991993344
Success 672160042234327040
Success 672139350159835138
Success 672125275208069120
Success 672095186491711488
Success 672082170312290304
Success 672068090318987265
Success 671896809300709376
Success 671891728106971137
Success 671882082306625538
Success 671879137494245376
Success 671874878652489728
Success 671866342182637568
Success 671855973984772097
Success 671789708968640512
Success 671768281401958400
Success 671763349865160704
Success 671744970634719232
Success 671743150407421952
Success 671735591348891648
Success 671729906628341761
Success 671561002136281088
Success 671550332464455680
Success 671547767500775424
Success 671544874165002241
Success 671542985629241344
Success 671538301157904385
Success 671536543010570240
Success 671533943490011136
Success 671528761649688577
Success 671520732782923777
Success 671518598289059840
Success 671511350426865664
Success 671504605491109889
Success 671497587707535361
Success 671488513339211776
Success 671486386088865792
Success 671485057807351808
Success 671390180817915904
Success 671362598324076544
Success 671357843010908160
Success 671355857343524864
Success 671347597085433856
Success 671186162933985280
Success 671182547775299584
Success 671166507850801152
Success 671163268581498880
Success 671159727754231808
Success 671154572044468225
Success 671151324042559489
Success 671147085991960577
Success 671141549288370177
Success 671138694582165504
Success 671134062904504320
Success 671122204919246848
Success 671115716440031232
Success 671109016219725825
Success 670995969505435648
Success 670842764863651840
Success 670840546554966016
Success 670838202509447168
Success 670833812859932673
Success 670832455012716544
Success 670826280409919488
Success 670823764196741120
Success 670822709593571328
Success 670815497391357952
Success 670811965569282048
Success 670807719151067136
Success 670804601705242624
Success 670803562457407488
Success 670797304698376195
Success 670792680469889025
Success 670789397210615808
Success 670786190031921152
Success 670783437142401025
Success 670782429121134593
Success 670780561024270336
Success 670778058496974848
Success 670764103623966721
Success 670755717859713024
Success 670733412878163972
Success 670727704916926465
Success 670717338665226240
Success 670704688707301377
Success 670691627984359425
Success 670679630144274432
Success 670676092097810432
Success 670668383499735048
Success 670474236058800128
Success 670468609693655041
Success 670465786746662913
Success 670452855871037440
Success 670449342516494336
Success 670444955656130560
Success 670442337873600512
Success 670435821946826752
Success 670434127938719744
Success 670433248821026816
Success 670428280563085312
Success 670427002554466305
Success 670421925039075328
Success 670420569653809152
Success 670417414769758208
Success 670411370698022913
Success 670408998013820928
Success 670403879788544000
Success 670385711116361728
Success 670374371102445568
Success 670361874861563904
Success 670338931251150849
Success 670319130621435904
Success 670303360680108032
Success 670290420111441920
Success 670093938074779648
Success 670086499208155136
Success 670079681849372674
Success 670073503555706880
Success 670069087419133954
Success 670061506722140161
Success 670055038660800512
Success 670046952931721218
Success 670040295598354432
Success 670037189829525505
Success 670003130994700288
Success 669993076832759809
Success 669972011175813120
Success 669970042633789440
Success 669942763794931712
Success 669926384437997569
Success 669923323644657664
Success 669753178989142016
Success 669749430875258880
Success 669684865554620416
Success 669683899023405056
Success 669682095984410625
Success 669680153564442624
Success 669661792646373376
Success 669625907762618368
Success 669603084620980224
Success 669597912108789760
Success 669583744538451968
Success 669573570759163904
Success 669571471778410496
Success 669567591774625800
Success 669564461267722241
Success 669393256313184256
Success 669375718304980992
Success 669371483794317312
Success 669367896104181761
Success 669363888236994561
Success 669359674819481600
Success 669354382627049472
Success 669353438988365824
Success 669351434509529089
Success 669328503091937280
Success 669327207240699904
Success 669324657376567296
Success 669216679721873412
Success 669214165781868544
Success 669203728096960512
Success 669037058363662336
Success 669015743032369152
Success 669006782128353280
Success 669000397445533696
Success 668994913074286592
Success 668992363537309700
Success 668989615043424256
Success 668988183816871936
Success 668986018524233728
Success 668981893510119424
Success 668979806671884288
Success 668975677807423489
Success 668967877119254528
Success 668960084974809088
Success 668955713004314625
Success 668932921458302977
Success 668902994700836864
Success 668892474547511297
Success 668872652652679168
Success 668852170888998912
Success 668826086256599040
Success 668815180734689280
Success 668779399630725120
Success 668655139528511488
Success 668645506898350081
Success 668643542311546881
Success 668641109086707712
Success 668636665813057536
Success 668633411083464705
Success 668631377374486528
Success 668627278264475648
Success 668625577880875008
Success 668623201287675904
Success 668620235289837568
Success 668614819948453888
Success 668587383441514497
Success 668567822092664832
Success 668544745690562560
Success 668542336805281792
Success 668537837512433665
Success 668528771708952576
Success 668507509523615744
Success 668496999348633600
Success 668484198282485761
Success 668480044826800133
Success 668466899341221888
Success 668297328638447616
Success 668291999406125056
Success 668286279830867968
Success 668274247790391296
Success 668268907921326080
Success 668256321989451776
Success 668248472370458624
Success 668237644992782336
Success 668226093875376128
Success 668221241640230912
Success 668204964695683073
Success 668190681446379520
Success 668171859951755264
Success 668154635664932864
Success 668142349051129856
Success 668113020489474048
Success 667937095915278337
Success 667924896115245057
Success 667915453470232577
Success 667911425562669056
Success 667902449697558528
Success 667886921285246976
Success 667885044254572545
Success 667878741721415682
Success 667873844930215936
Success 667866724293877760
Success 667861340749471744
Success 667832474953625600
Success 667806454573760512
Success 667801013445750784
Success 667793409583771648
Success 667782464991965184
Success 667773195014021121
Success 667766675769573376
Success 667728196545200128
Success 667724302356258817
Success 667550904950915073
Success 667550882905632768
Success 667549055577362432
Success 667546741521195010
Success 667544320556335104
Success 667538891197542400
Success 667534815156183040
Success 667530908589760512
Success 667524857454854144
Success 667517642048163840
Success 667509364010450944
Success 667502640335572993
Success 667495797102141441
Success 667491009379606528
Success 667470559035432960
Success 667455448082227200
Success 667453023279554560
Success 667443425659232256
Success 667437278097252352
Success 667435689202614272
Success 667405339315146752
Success 667393430834667520
Success 667369227918143488
Success 667211855547486208
Success 667200525029539841
Success 667192066997374976
Success 667188689915760640
Success 667182792070062081
Success 667177989038297088
Success 667176164155375616
Success 667174963120574464
Success 667171260800061440
Success 667165590075940865
Success 667160273090932737
Success 667152164079423490
Success 667138269671505920
Success 667119796878725120
Success 667090893657276420
Success 667073648344346624
Success 667070482143944705
Success 667065535570550784
Success 667062181243039745
Success 667044094246576128
Success 667012601033924608
Success 666996132027977728
Success 666983947667116034
Success 666837028449972224
Success 666835007768551424
Success 666826780179869698
Success 666817836334096384
Success 666804364988780544
Success 666786068205871104
Success 666781792255496192
Success 666776908487630848
Success 666739327293083650
Success 666701168228331520
Success 666691418707132416
Success 666649482315059201
Success 666644823164719104
Success 666454714377183233
Success 666447344410484738
Success 666437273139982337
Success 666435652385423360
Success 666430724426358785
Success 666428276349472768
Success 666421158376562688
Success 666418789513326592
Success 666411507551481857
Success 666407126856765440
Success 666396247373291520
Success 666373753744588802
Success 666362758909284353
Success 666353288456101888
Success 666345417576210432
Success 666337882303524864
Success 666293911632134144
Success 666287406224695296
Success 666273097616637952
Success 666268910803644416
Success 666104133288665088
Success 666102155909144576
Success 666099513787052032
Success 666094000022159362
Success 666082916733198337
Success 666073100786774016
Success 666071193221509120
Success 666063827256086533
Success 666058600524156928
Success 666057090499244032
Success 666055525042405380
Success 666051853826850816
Success 666050758794694657
Success 666049248165822465
Success 666044226329800704
Success 666033412701032449
Success 666029285002620928
Success 666020888022790149

In [125]:
len(fail_list), len(df_tw)

(25, 2356)

In [115]:
# Make a dataframe from the text file
df_list = []

with open ('tweet_json.txt', 'r') as json_file:
    for data in json_file:
        tweet_id = json.loads(data)['id']
        retweet_count = json.loads(data)['retweet_count']
        fave_count = json.loads(data)['favorite_count']

        df_list.append({'tweet_id': str(tweet_id),
                        'retweet_count' : int(retweet_count),
                        'favorite_count' : int(fave_count)})
df_tw_count = pd.DataFrame(df_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

In [122]:
df_tw_count.head(2)

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7491           35483
1  892177421306343426           5559           30705

In [120]:
# save data
df_tw_count.to_csv('twitter_count.csv', index = False)

# Assess

### 1. twitter archive data

In [189]:
# Quick look
df_tw.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2155,669603084620980224,NaN,NaN,2015-11-25 19:46:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Very human-like. Cute overbite smile *finger to earpiece* I'm being told that the dog is actually on the right\n10/10 https://t.co/MSIbWu4YYs,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669603084620980224/photo/1,10,10,None,None,None,None,None
1568,687818504314159109,NaN,NaN,2016-01-15 02:08:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",With great pupper comes great responsibility. 12/10 https://t.co/hK6xB042EP,NaN,NaN,NaN,https://twitter.com/dog_rates/status/687818504314159109/photo/1,12,10,None,None,None,pupper,None
1539,689661964914655233,NaN,NaN,2016-01-20 04:13:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Luca. He's a Butternut Scooperfloof. Glorious tongue. 12/10 would pet really well https://t.co/VcxZQPNZaV,NaN,NaN,NaN,https://twitter.com/dog_rates/status/689661964914655233/photo/1,12,10,Luca,None,None,None,None
280,839549326359670784,NaN,NaN,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Winston. He knows he's a little too big for the swing, but he doesn't care. Kindly requests a push. 12/10 would happily oblige https://t.co/GuxEXTdnMu",NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326359670784/photo/1,12,10,Winston,None,None,None,None
1920,674265582246694913,NaN,NaN,2015-12-08 16:33:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Henry. He's a shit dog. Short pointy ears. Leaves trail of pee. Not fluffy. Doesn't come when called. 2/10 https://t.co/Pu9RhfHDEQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674265582246694913/photo/1,2,10,Henry,None,None,None,None

**Text columns shows that it is also including the URL of the tweet.**

In [9]:
# check the information
df_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

- Missing data: some data relates to reply/retweet are missing, but these are nullable data.<br>
&nbsp;- These retweet/reply should be removed from this table as we want only original ratings. Instead, I will include the number of retweet/reply based on twitter_count.csv.
- Dtype: <br>
&nbsp;- Timestamp is not time series data.<br>
&nbsp;- Each dog stage is not boolean. <br>
&nbsp;- Five columns relates to ID are not string/object.

In [228]:
df_tw[(pd.notnull(df_tw['in_reply_to_status_id'])) | (pd.notnull(df_tw['retweeted_status_id']))].shape

(259, 17)

**259 tweets are not the original and 2097 tweets are the original**

In [205]:
# Check duplication
df_tw['tweet_id'].duplicated().sum()

0

In [11]:
# Check the statistical description
df_tw.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

- rating_numerator: Min. 0 should be checked just in case. Max.1776 is suspiciously large, considering 75 percentile is just 12.<br>
- rating_denominator: Min. is 0. Max.170 should be also checked as normal denominator is 10.

In [20]:
# Further assessmen in numetator (Min. == 0)
df_tw[df_tw.rating_numerator == 0].text

315           When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag
1016    PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX
Name: text, dtype: object

**Min. 0 is correct.**

In [22]:
# Further assessmen in numetator (Max. == 1776)
df_tw[df_tw.rating_numerator == 1776].text

979    This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh
Name: text, dtype: object

**Max.1776 is also correct**

In [27]:
# Further assessmen in denominator (Min. == 0)
df_tw[df_tw.rating_denominator == 0].text

313    @jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho
Name: text, dtype: object

In [28]:
df_tw[df_tw.rating_denominator == 0]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,26259576.0,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None

**This is not an original tweet and also 0 is not correct. This will be solved when we remove retweet/reply from this table.**

In [29]:
# Further assessmen in denominator (Max. == 170)
df_tw[df_tw.rating_denominator == 170].text

1120    Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
Name: text, dtype: object

In [348]:
# Further assessmen in denominator (> 10)
df_tw[df_tw.rating_denominator > 10][['tweet_id', 'rating_numerator', 'rating_denominator','text']]

,tweet_id,rating_numerator,rating_denominator,text
342,832088576586297345,11,15,@docmisterio account started on 11/15/15
433,820690176645140481,84,70,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd
784,775096608509886464,9,11,"RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/"
902,758467244762497024,165,150,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE
1068,740373189193256964,9,11,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ"
1120,731156023742988288,204,170,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
1165,722974582966214656,4,20,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a
1202,716439118184652801,50,50,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq
1228,713900603437621249,99,90,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1
1254,710658690886586372,80,80,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12
1274,709198395643068416,45,50,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK"
1351,704054845121142784,60,50,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa
1433,697463031882764288,44,40,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ
1598,686035780142297088,4,20,"Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating"
1634,684225744407494656,143,130,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3"
1635,684222868335505415,121,110,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55
1662,682962037429899265,7,11,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5
1663,682808988178739200,20,16,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible"
1779,677716515794329600,144,120,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq
1843,675853064436391936,88,80,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw

**In general, denomitor seems calculated as "10 * the number of dog" and it can be bigger than 10. However, I see some incorrect denomitor as well. Also where the denominator is wrong, the numerator tends to be wrong together.**<br>

From here, I will check each column further.

In [33]:
# check colomn name
df_tw.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [49]:
df_tw[df_tw.floofer == 'floofer'].text

46       Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption. 13/10 heroic as h*ck https://t.co/rf661IFEYP
200     At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk
582                                              This is Doc. He takes time out of every day to worship our plant overlords. 12/10 quite the floofer https://t.co/azMneS6Ly5
774                                         Atlas rolled around in some chalk and now he's a magical rainbow floofer. 13/10 please never take a bath https://t.co/nzqTNw0744
984                              This is Blu. He's a wild bush Floofer. I wish anything made me as happy as bushes make Blu. 12/10 would frolic with https://t.co/HHUAnBb6QB
1022                                   Here's a golden floofer helping with the groceries. Bed got in way. Still 11/10 helpful af (vid by @categoen) https://t.co/6ZRoZUWFmd
1091                                    Just wanted to share this super rare Rainbow Floofer in case you guys haven't seen it yet. 13/10 colorful af https://t.co/CaG9MzD3WT
1110                                                                 This is Moose. He's a Polynesian Floofer. Dapper af. 10/10 would pet diligently https://t.co/mVfqRdppTL
1534                                      Here we are witnessing a rare High Stepping Alaskan Floofer. 12/10 dangerously petable (vid by @TheMrsNux) https://t.co/K4s9IJh2jm
1614                            Say hello to Petrick. He's an Altostratus Floofer. Just had a run in with a trash bag. Groovy checkered floor. 11/10 https://t.co/rwW7z1JAOF
Name: text, dtype: object

**According to the Dogtionary, "floof" is synonym of "floofer".**

In [120]:
# check if floof is included in the floofer category
df_tw[(df_tw.text.str.contains('floof')) & (df_tw.floofer != 'floofer')][['tweet_id', 'text', 'floofer']]

,tweet_id,text,floofer
25,887101392804085760,This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp,None
53,881906580714921986,This is Rey. He's a Benebop Cumberfloof. 12/10 dangerously pettable https://t.co/503CgWbhxQ,None
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,None
622,796080075804475393,This is Yogi. He's 98% floof. Snuggable af. 12/10 https://t.co/opoXKxmfFm,None
630,794332329137291264,This is Nimbus (like the cloud). He just bought this fancy af duck raincoat. Only protects one ear tho. 12/10 so h*ckin floofy https://t.co/SIQbb8c3AU,None
740,780543529827336192,Here's a perturbed super floof. 12/10 would snug so damn well https://t.co/VG095mi09Q,None
790,773922284943896577,"This is Heinrich (pronounced ""Pat""). He's a Botswanian Vanderfloof. Snazzy af bandana. 12/10 downright puptacular https://t.co/G56ikYAqFg",None
959,751251247299190784,This is Gilbert. He's being chased by a battalion of miniature floof cows. 10/10 we all believe in you Gilbert https://t.co/wayKZkDRTG,None
1001,747933425676525569,Pls don't send more sherks. I don't care how seemingly floofy they are. It does me so much frighten. Thank u. 11/10 https://t.co/oQqlOsla4R,None
1161,723912936180330496,This is Sugar. She's a Bolivian Superfloof. Spherical af. 12/10 would never let go of https://t.co/AhMfUu6Onm,None
1267,709566166965075968,This is Olaf. He's gotta be rare. Seems sturdy. Tail is floofy af. 12/10 would do whatever it takes to pet https://t.co/E9jaU59bh9,None
1268,709556954897764353,This is Cecil. She's a Gigglefloof Poofer. Outdoorsy af. One with nature. 12/10 would strategically capture https://t.co/ijJB0DuOIC,None
1361,703079050210877440,This is a Butternut Cumberfloof. It's not windy they just look like that. 11/10 back at it again with the red socks https://t.co/hMjzhdUHaW,None
1373,701981390485725185,This is Fiji. She's a Powdered Stegafloof. Very rare. 12/10 https://t.co/fZRob6eotY,None
1470,694001791655137281,This is Chester. He's a Benefloof Cumberbark. Fabulous ears. Nifty shirt. Was probably on sale. Nice hardwood. 11/10 https://t.co/YoII7tWXMT,None
1499,692187005137076224,This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N,None
1519,690735892932222976,Say hello to Peaches. She's a Dingleberry Zanderfloof. 13/10 would caress lots https://t.co/YrhkrTsoTt,None
1539,689661964914655233,Meet Luca. He's a Butternut Scooperfloof. Glorious tongue. 12/10 would pet really well https://t.co/VcxZQPNZaV,None
1597,686050296934563840,This is Flvio. He's a Macedonian Poppycock. 97% floof. Jubilant af. 11/10 personally I'd pet the hell out of https://t.co/BUyX7isHRg,None

**Some tweet including "floof" is not coreectly reflected in the stage category "floofer". These should be updated.**

In [135]:
# Check dog name with very short name
df_tw[df_tw.name.str.len() <= 2].name.unique()

array(['a', 'Mo', 'Bo', 'an', 'O', 'Al', 'my', 'by', 'Ed', 'JD', 'Jo'],
      dtype=object)

**Some of them looks like not a name such as "a".**

In [136]:
# Check names
df_tw.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devn', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralph', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flvio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Olivir', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frnq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amlie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Grdn', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

In [154]:
# I see some pronoun and articles in the name column. 
list_pronoun = ['my','his','her','this','the']

In [153]:
df_tw[df_tw.name.isin(list_pronoun)][['tweet_id', 'name', 'text']]

,tweet_id,name,text
852,765395769549590528,my,This is my dog. Her name is Zoey. She knows I've been rating other dogs. She's not happy. 13/10 no bias at all https://t.co/ep1NkYoiwB
992,748692773788876800,his,That is Quizno. This is his beach. He does not tolerate human shenanigans on his beach. 10/10 reclaim ur land doggo https://t.co/vdr7DaRSa7
1120,731156023742988288,this,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
1527,690360449368465409,the,Stop sending in lobsters. This is the final warning. We only rate dogs. Thank you... 9/10 https://t.co/B9ZXXKJYNx
1603,685943807276412928,the,This is the newly formed pupper a capella group. They're just starting out but I see tons of potential. 8/10 for all https://t.co/wbAcvFoNtn
1797,677269281705472000,the,This is the happiest pupper I've ever seen. 10/10 would trade lives with https://t.co/ep8ATEJwRb
1815,676613908052996102,the,This is the saddest/sweetest/best picture I've been sent. 12/10 https://t.co/vQ2Lw1BLBF
2037,671561002136281088,the,This is the best thing I've ever seen so spread it like wildfire &amp; maybe we'll find the genius who created it. 13/10 https://t.co/q6RsuOVYwU
2212,668587383441514497,the,Never forget this vine. You will not stop watching for at least 15 minutes. This is the second coveted.. 13/10 https://t.co/roqIxCvEB3
2345,666063827256086533,the,This is the happiest dog you will ever see. Very committed owner. Nice couch. 10/10 https://t.co/RhUEAloehK
2346,666058600524156928,the,Here is the Rand Paul of retrievers folks! He's probably good at poker. Can drink beer (lol rad). 8/10 good dog https://t.co/pYAJkAe76p

**Some name are registered wrongly. Also, these assessment shows that the incorrect names usually start with lower case.**

In [181]:
# Fileter names start with lowercase.
lower_list = list(string.ascii_lowercase)

df_tw[df_tw.name.str.startswith(tuple(lower_list))][['tweet_id', 'name', 'text']]

,tweet_id,name,text
22,887517139158093824,such,I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba
56,881536004380872706,a,Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/ghXBIIeQZF
118,869988702071779329,quite,RT @dog_rates: We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you... 12/10
169,859196978902773760,quite,We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you... 12/10 https://t.co/g2nSyGenG9
193,855459453768019968,quite,"Guys, we only rate dogs. This is quite clearly a bulbasaur. Please only send dogs. Thank you... 12/10 human used pet, it's super effective https://t.co/Xc7uj1C64x"
...,...,...,...
2349,666051853826850816,an,This is an odd dog. Hard on the outside but loving on the inside. Petting still fun. Doesn't play catch well. 2/10 https://t.co/v5A4vzSDdc
2350,666050758794694657,a,This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe
2352,666044226329800704,a,This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx
2353,666033412701032449,a,Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR
2354,666029285002620928,a,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI

In [182]:
df_tw[df_tw.name.str.startswith(tuple(lower_list))][['tweet_id', 'name', 'text']][:10]

,tweet_id,name,text
22,887517139158093824,such,I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba
56,881536004380872706,a,Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/ghXBIIeQZF
118,869988702071779329,quite,RT @dog_rates: We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you... 12/10
169,859196978902773760,quite,We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you... 12/10 https://t.co/g2nSyGenG9
193,855459453768019968,quite,"Guys, we only rate dogs. This is quite clearly a bulbasaur. Please only send dogs. Thank you... 12/10 human used pet, it's super effective https://t.co/Xc7uj1C64x"
335,832645525019123713,not,There's going to be a dog terminal at JFK Airport. This is not a drill. 10/10 \nhttps://t.co/dp5h9bCwU7
369,828650029636317184,one,"Occasionally, we're sent fantastic stories. This is one of them. 14/10 for Grace https://t.co/bZ4axuH6OK"
542,806219024703037440,incredibly,We only rate dogs. Please stop sending in non-canines like this Freudian Poof Lion. This is incredibly frustrating... 11/10 https://t.co/IZidSrBvhi
649,792913359805018113,a,Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq
682,788552643979468800,mad,RT @dog_rates: Say hello to mad pupper. You know what you did. 13/10 would pet until no longer furustrated https://t.co/u1ulQ5heLX

**The names are incorrectly registered.**

### 2. Image prediction data

In [183]:
df_image = pd.read_csv('image_predictions.tsv', delimiter = '\t')

In [190]:
df_image.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
561,677895101218201600,https://pbs.twimg.com/media/CWhd_7WWsAAaqWG.jpg,1,dalmatian,0.550702,True,kuvasz,0.060226,True,Great_Pyrenees,0.058631,True
1429,772877495989305348,https://pbs.twimg.com/ext_tw_video_thumb/772874595468795904/pu/img/t8gbjy2rA19xtQYR.jpg,1,tabby,0.218303,False,Norwegian_elkhound,0.138523,True,wombat,0.074217,False
1357,760641137271070720,https://pbs.twimg.com/media/Co5XExUWgAAL5L_.jpg,1,axolotl,0.132695,False,killer_whale,0.131113,False,sea_lion,0.069652,False
952,705066031337840642,https://pbs.twimg.com/media/CcjlzRkW0AMqmWg.jpg,1,Airedale,0.868658,True,Irish_terrier,0.027587,True,otterhound,0.025324,True
1032,711652651650457602,https://pbs.twimg.com/media/CeBMT6-WIAA7Qqf.jpg,1,llama,0.856789,False,Arabian_camel,0.098727,False,neck_brace,0.016377,False

**If the prediction is not a breed of dog, I will treat it as Nan regardless of the confidence interval.**

In [192]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

**Some data are missing.**

In [206]:
# Check duplication
df_image['tweet_id'].duplicated().sum()

0

**Data type of tweet_id should be object.**

In [193]:
df_image.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [199]:
df_tw_count = pd.read_csv('twitter_count.csv')

In [200]:
df_tw_count.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7491           35483
1  892177421306343426           5559           30705
2  891815181378084864           3681           23088
3  891689557279858688           7669           38774
4  891327558926688256           8273           37039

In [201]:
df_tw_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(3)
memory usage: 54.8 KB

In [207]:
# Check duplication
df_tw_count['tweet_id'].duplicated().sum()

0

#### In conclusion, these are the issues.

#### Quality issues 
##### Twitter archive data
&nbsp;-Wrong Data type: <br>
>&nbsp;Timestamp (->time series data)<br>
&nbsp;Dog stage (-> Boolean)<br>
&nbsp;Tweet_id (-> string/object)<br>

&nbsp;-Some denominators are incorrect.<br>
&nbsp;-Some numerators are incorrect.<br>
&nbsp;-"Floof" is not included in floofer stage.<br>
&nbsp;-Some dog names are incorrect.<br> 
##### Image prediction
&nbsp;-Some predisctions are not a dog.<br>
&nbsp;-Tweet ID is not string/object.<br>
&nbsp;-Some data are missing.<br>
<br>
#### Tidiness issues
##### Twitter archive data
&nbsp;-Text column includes URL of the tweets.<br>
&nbsp;-Retweets / replies are included.<br>
&nbsp;-The number of retweet / reply is in a separate dataframe.<br>

# Clean

In [570]:
# Copy data
df_clean = df_tw.copy()

#### Tidiness issue : Twitter archive data - Retweets / replied are included.

To clean this efficiently, first I will remove non-original tweets(retweet or reply).
Define :remove non-original tweets and remove columns ().

In [571]:
# Code : remove non-original tweets
df_clean = df_clean[(pd.isnull(df_clean['in_reply_to_status_id'])) & (pd.isnull(df_clean['retweeted_status_id']))]

In [572]:
# Test
df_clean[(pd.notnull(df_clean['in_reply_to_status_id'])) | (pd.notnull(df_clean['in_reply_to_user_id']))|(pd.notnull(df_clean['retweeted_status_id']))|(pd.notnull(df_clean['retweeted_status_user_id']))|(pd.notnull(df_clean['retweeted_status_timestamp']))]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [573]:
# Code : drop irrelevant columns
df_clean = df_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis = 1).reset_index(drop = True)

In [574]:
# Test
df_clean.head(1)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None

#### Quality issue : Twitter archive data - Wrong Data type

DefineChange data type<br>
1. Time stamp should be time series data. As I will remove retweeted_status_timestamp later, I will keep this as it is for now.<br> 
2. Each dog stage should be boolean.<br>
3. Tweet ID should be string/object. Other ID related columns will be removed later so that I will keep it as it is for now.

In [575]:
# Code : 1
df_clean.timestamp = pd.to_datetime(df_tw['timestamp'])

In [576]:
# test : 1
df_clean.timestamp

0      2017-08-01 16:23:56+00:00
1      2017-08-01 00:17:27+00:00
2      2017-07-31 00:18:03+00:00
3      2017-07-30 15:58:51+00:00
4      2017-07-29 16:00:24+00:00
                  ...
2092   2015-11-29 01:52:48+00:00
2093   2015-11-29 01:45:22+00:00
2094   2015-11-29 01:35:26+00:00
2095   2015-11-29 00:39:59+00:00
2096   2015-11-29 00:06:39+00:00
Name: timestamp, Length: 2097, dtype: datetime64[ns, UTC]

In [577]:
# Code : 2
dog_stage = ['doggo','floofer', 'pupper', 'puppo']

for stage in dog_stage:
    df_clean[stage] = df_clean[stage].str.contains(stage)

In [578]:
# test : 2 
for stage in dog_stage:
    print((df_clean[stage] == (df_tw[(pd.isnull(df_tw['in_reply_to_status_id'])) & (pd.isnull(df_tw['retweeted_status_id']))].reset_index(drop=True)[stage] == stage)).unique())

[ True]
[ True]
[ True]
[ True]

In [579]:
#Code : 3
df_clean['tweet_id'] = df_clean['tweet_id'].astype(str)

In [580]:
# test : 1-3
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2097 non-null   object
 1   timestamp           2097 non-null   datetime64[ns, UTC]
 2   source              2097 non-null   object
 3   text                2097 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2097 non-null   int64
 6   rating_denominator  2097 non-null   int64
 7   name                2097 non-null   object
 8   doggo               2097 non-null   bool
 9   floofer             2097 non-null   bool
 10  pupper              2097 non-null   bool
 11  puppo               2097 non-null   bool
dtypes: bool(4), datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 139.4+ KB

#### Twitter archive data: Incorrect denominators

Define: Assess and correct visually where denominators are bigger than 10. As there is higher chance that when denominator is wrong, the numerator is also wrong, I will check and correct both of them.

In [581]:
# Code
df_clean[df_clean.rating_denominator > 10][['tweet_id','text','rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
339,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
700,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
853,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
904,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
948,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
985,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1011,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1036,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1056,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1129,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1210,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1399,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1426,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1540,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1602,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80

In [582]:
correct_rating = {'tweet_id':['740373189193256964', '722974582966214656', '716439118184652801', '682962037429899265'],
                 'rating_numerator':[14, 13, 11, 10],
                 'rating_denominator':[10, 10, 10, 10]}

In [583]:
df_correct_rating = pd.DataFrame(correct_rating, columns = ['tweet_id', 'rating_numerator', 'rating_denominator'])

In [568]:
correct_rating['tweet_id']

['740373189193256964',
 '722974582966214656',
 '716439118184652801',
 '682962037429899265']

In [536]:
df_correct_rating

             tweet_id  rating_numerator  rating_denominator
0  740373189193256964                14                  10
1  722974582966214656                13                  10
2  716439118184652801                11                  10
3  682962037429899265                10                  10

In [569]:
for ID in df_correct_rating.twe:
    df_clean[df_clean.tweet_id == ID][['rating_numerator', 'rating_denominator']] = df_correct_rating[['rating_numerator', 'rating_denominator']]

C:\Users\Kaori\anaconda3\lib\site-packages\pandas\core\frame.py:3062: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [552]:
df_tw[df_tw.tweet_id == 740373189193256964]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None

In [546]:
df_clean2[df_clean.rating_denominator > 10][['tweet_id','text','rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
339,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84.0,70.0
700,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165.0,150.0
853,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9.0,11.0
904,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204.0,170.0
948,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4.0,20.0
985,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50.0,50.0
1011,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99.0,90.0
1036,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80.0,80.0
1056,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45.0,50.0
1129,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60.0,50.0
1210,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44.0,40.0
1399,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121.0,110.0
1426,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7.0,11.0
1540,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144.0,120.0
1602,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88.0,80.0

# Storing

In [ ]:
# save as twitter_archive_master.csv

# Analyzing and Visualizing

In [ ]:
# At least three (3) insights and one (1) visualization